<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head.ejs') %>

    <body>
        <div class="container">
            <%- include ('../partials/nav.ejs') %>
                <div class="row">
                    <div class="filters columns ten">
                        <form action="/coffees">
                            <label class="filter-label"> Filters:  </label>
                                <label class="filter-label">
                                <input type="checkbox" name="favorite">
                            </label>
                                <span class="label-body">Favorites</span>
                                <label class="filter-label">Price</label>
                                <select name="price" class="filter-dropdown">
                                    <option disabled selected value></option>
                                    <option value="1">$</option>
                                    <option value="2">$$</option>
                                    <option value="3">$$$</option>
                                    <option value="4">$$$$</option>
                                </select>
                            
                            <label for="grade" class="filter-label">Min. grade</label>
                            <select name="grade" class="filter-dropdown">
                                <option disabled selected value></option>
                                    <option value="13">A+</option>
                                    <option value="12">A</option>
                                    <option value="11">A-</option>
                                    <option value="10">B+</option>
                                    <option value="9">B</option>
                                    <option value="8">B-</option>
                                    <option value="7">C+</option>
                                    <option value="6">C</option>
                                    <option value="5">C-</option>
                                    <option value="4">D+</option>
                                    <option value="3">D</option>
                                    <option value="2">D-</option>
                                    <option value="1">F</option>
                            </select>
                            <div id="filter-submit-div">
                            <input type="submit" value="Update" id="filter-submit">
                        </div>
                        </form>
                    </div>
                </div>
                <div class="section">
                    <% let count=0 %>
                        <% coffees.forEach(coffee=> { %>
                            <% count++ %>
                                <% if ((count-1)%4===0 || count===1) { %>
                                    <div class="row">
                                        <% } %>
                                            <div class="card three columns">
                                                <div class="pic-holder"> <img src="<%= coffee.img %>" alt=""
                                                        class="index-pic"></div>

                                                <h5>
                                                    <%= coffee.name %>
                                                </h5>
                                                <div class="price-grade">
                                                    <p><strong>Price:</strong>
                                                        <% for( let index=0; index < coffee.price; index++ ) { %>$<% }
                                                                %>
                                                    </p>
                                                    <p> <strong>Grade:</strong>
                                                        <%= coffee.grade %>
                                                    </p>
                                                </div>
                                                <div class="card-bottom">
                                                    <a href="/coffees/<%= coffee.id %> ">More</a>
                                                    <% if (coffee.favorite) { %>
                                                        <p> <i class="fas fa-heart"></i> </p>
                                                        <% } %>
                                                </div>
                                            </div>


                                            <% if (count%4===0 || count===coffees.length) { %>
                                    </div>
                                    <% } %>
                                        <% }) %>
                </div>
        </div>

    </body>

</html>