<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head.ejs') %>

    <body>
        <div class="container show">
            <%- include ('../partials/nav.ejs') %>
                <div class="row">
                    <div class="five columns">

                        <img src=" <%=coffee.img %>" alt="" />


                    </div>
                    <div class="seven columns">
                        <div class="twelve columns">
                            <h3>
                                <%= coffee.name %>

                            </h3>

                        </div>
                        <h5>
                            Roaster: <%= coffee.roaster %>
                        </h5>
                        <div class="price-grade">
                            <div class="price">
                                <div class="dollar-signs">
                                    <% for( let index=0; index < coffee.price; index++ ) { %>
                                        <p class="green">$</p>
                                        <% } %>
                                            <% for( let index=0; index < 4-coffee.price; index++ ) { %>
                                                <p class=ghost>$</p>
                                                <% } %>
                                </div>
                                <p class="price-label"><strong>Price</strong></p>
                            </div>
                            <div class="grade">
                                <p>
                                    <%= coffee.letterGrade %>
                                </p>
                                <p> <strong>Grade</strong></p>

                            </div>
                        </div>
                        <div class="beans">
                            <% if (coffee.wholeBean===true) { %>
                                <figure>
                                    <img src="/images/coffee-bean.png" alt="">
                                    <figcaption>Whole Bean</figcaption>
                                </figure>
                                <figure class="ghost">
                                    <img src="/images/coffee-bag-bw.png" alt="">
                                    <figcaption>Ground</figcaption>
                                </figure>
                                <% } else { %>
                                    <figure class="ghost">
                                        <img src="/images/coffee-bean-bw.png" alt="">
                                        <figcaption>Whole Bean</figcaption>
                                    </figure>

                                    <figure>
                                        <img src="/images/coffee-bag.png" alt="">
                                        <figcaption>Ground</figcaption>
                                    </figure>
                                    <%}%>

                        </div>
                        <p>Tried at <%= coffee.where%>
                                <% if (coffee.address) { %>: <%=coffee.address%>
                                        <%}%>
                        </p>
                        <strong>
                            <p>Tags</p>
                        </strong>
                        <ul class="tags">
                            <% coffee.tags.forEach(tag=> { %>
                                <li>
                                    <%= tag %>
                                </li>
                                <% }) %>
                        </ul>
                        <p class="description">
                            <strong>Notes: </strong>
                            <%= coffee.description %>
                        </p>
                        <% if (coffee.favorite) { %>
                            <p> Favorited <i class="fas fa-heart"></i> </p>
                            <% } %>
                                <p><a href="/coffees/<%= coffee.id %>/edit">Edit this entry</a></p>
                                <form class="submit" action="/coffees/<%= coffee.id %>?_method=DELETE" method="POST">
                                    <input class="submit" type="submit" value="DELETE">
                                </form>
                    </div>
                </div>
        </div>
    </body>

</html>